.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
*.class
bin/ssh/connect/SSHclient$SSHbasic.class
bin/ssh/connect/SSHclient$SSHUserInfo.class
*.png
*.mgi
*.mgc
*.ucls
keys/*
!SSHconnect.jar
!sshconnect_conf.txt
sshconnect_conf.*
