.DS_Store
.DS_Store?
.classpath
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
*.class
bin/ssh/connect/SSHclient$SSHbasic.class
bin/ssh/connect/SSHclient$SSHUserInfo.class
*.png
*.ucls
.project
.settings/*
lib/commons-lang3-3.1/apidocs/
lib/commons-io-2.4/docs/
keys/*
lib/jsch-0.1.50/src/*
lib/orion-ssh2-214/*

!sshconnect_conf.txt
sshconnect_conf.*
